
body {
    background-image: url("/CSS/home.jpg");
    background-repeat: no-repeat;
    width: 800px;
    height: 800px;
    background-position: center;
    background-size: cover;
}

.dark-mode {
    background-image: url("/CSS/nighttime.jpg");
    color:white;
}

.play-mode {
  background-image: url("/CSS/Playground.jpg");
  color: dark blue;
}
/* Gotchi Nav Bar*/
#topnav {
    
    background-color: rgba(244, 233, 213, 0.313);
    cursor: pointer;
    transition-duration: 0.4;
    border: 4px solid green;
    padding: 16px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 20px;
   
  }
  
  #topnav a{
    float: left;
    color: blue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
   
  }
  
  #topnav a:hover {
    background-color: #ddd;
    color: yellow;
  }
  
  #topnav a.active {
    color: white
  }
  /* animated monkey-pet*/
  

@keyframes slidein {
    from {
        margin-left: 40%;
        width: 10%;
      }
    
      to {
        margin-left: 50%;
        width: 10%;
      }
    }
    

#monkey-holder {
    animation-name: slidein;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    vertical-align: middle;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
    animation-duration: 3s, 3s;
    z-index: 1000;
}


.gotchi {
    width: 200px;
    height: auto;
}
  
li a:hover {
    background-color: yellow;
  }