
body {
    background-image: url("/CSS/Office.jpg");
    background-repeat: no-repeat;  
    width: 800px;
    height: 800px;
    background-position: center;
    background-size: cover;
}
    

#enter {
  height: 80px;
  width: 500px;
  border: 3px solid green;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 25px;
} 